header
    h1=('proSonus')
        a#home(href='/', title='Home')
    #nav
        ul(class=activeNav)
            li
                if activeNav== 'studio'
                    a(href='/studio',class='active')=('Estudio de grabación')
                else
                    a(href='/studio')=('Estudio de grabación')
            li
                if activeNav=='live'
                    a(href='/live',class='active')=('Sonído en Vivo')
                else
                    a(href='/live')=('Sonído en Vivo')
            
            if activeNav== 'studio'
                    ul
                        li
                            if activeNav== 'elestudio'
                                a(href='/elestudio',class='active')=('El estudio')
                            else
                                a(href='/elestudio')=('El estudio')
                        li
                            if activeNav=='discos'
                                a(href='/discos',class='active')=('Discos')
                            else
                                a(href='/discos')=('Discos')
