if activeSubNav== 'none'
    - var headerclass = ''
else
    - var headerclass = 'mini'

header(class=headerclass)
    h1=('proSonus')
        a#home(href='/', title='Home')
    #nav
        ul(class=activeNav)
            li
                if activeNav== 'studio'
                    a(href='/studio/',class='active')=('Estudio de grabación')
                else
                    a(href='/studio/')=('Estudio de grabación')
            li
                if activeNav=='live'
                    a(href='/live/',class='active')=('Sonído en Vivo')
                else
                    a(href='/live/')=('Sonído en Vivo')
                
if activeNav== 'studio'
    div(id='horizontalNav')
        ul
            if activeSubNav== 'studio'
                - var liclass = 'active'
            else
                - var liclass = ''
            li(class=liclass)
                a(href='/studio/')=('El Estudio')

            if activeSubNav== 'record'
                - var liclass = 'active'
            else
                - var liclass = ''
            li(class=liclass)
                a(href='/studio/record')=('Grabación')
                    
            if activeSubNav== 'mix'
                - var liclass = 'active'
            else
                - var liclass = ''
            li(class=liclass)
                a(href='/studio/mix')=('Mezcla')

            if activeSubNav== 'master'
                - var liclass = 'active'
            else
                - var liclass = ''
            li(class=liclass)
                a(href='/studio/master')=('Master')

            if activeSubNav== 'production'
                - var liclass = 'active'
            else
                - var liclass = ''
            li(class=liclass)
                a(href='/studio/production')=('Producción Musical')


if activeNav== 'live'
    div(id='horizontalNav')
        ul
            if activeSubNav== 'live'
                - var liclass = 'active'
            else
                - var liclass = ''
            li(class=liclass)
                a(href='/live/')=('Equipos')


            if activeSubNav== 'live'
                - var liclass = 'active'
            else
                - var liclass = ''
            li(class=liclass)
                a(href='/live/')=('Presupuestos')