header
    h1=('proSonus')
    div(id='nav')
        ul
            li
                if activeNav== 'studio'
                    a(href='/studio',class='active')=('Estudio')
                else
                    a(href='/studio')=('Estudio de grabación')
            li
                if activeNav=='live'
                    a(href='/live',class='active')=('Sonído en Vivo')
                else
                    a(href='/live')=('Sonído en Vivo')

    if activeNav != 'none'
        h2=(activeNav)
